@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-5xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }

}

* {
    font-family: 'Poppins', sans-serif;
    
  }

 

.text-hover:hover {
    @apply text-red-600;
}

/* Home */
.banner{
    background-image:url('../public/home-banner-img.webp');
}

.home-banner{
  min-height : 820px;
  z-index:-1;
}

.btn-ghost:hover {
background-color : #0000;
}

.section-safety{
  background: linear-gradient(to left, #767876   , #C8CBC8    );
  background-size: cover; 
  background-repeat: no-repeat; 
  min-height:200px;
}

.section-outline{
  min-height: 300px;
}

.section-how-it-works{
  min-max: 100px;
}

.section-testimonials .carousel .carousel-status {
  display: none;
}

.carousel .control-dots .dot {
  box-shadow : 1px 1px 2px rgb(185, 28, 28) !important;
  background : #B91C1C !important;
} 

.section-testimonials{
  min-height:200px;
}

/* .section-documents-required .list-disc ::marker{
  color: #B91C1C !important;
} */

.our-locations{
  min-height:450px;
}

/* .section-contact-us{
  min-height:450px;
} */

.section-carlist{
  min-height: 450px;
}