@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-5xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }

}

* {
    font-family: 'Poppins', sans-serif;
    
  }

  /* body {
    @apply bg-lightBackground text-lightText;
  }
  
  .dark body {
    @apply bg-darkBackground text-darkText;
  } */


  
.sublink-hover:hover{
  @apply bg-red-50;
  @apply text-red-700;
}


.text-hover:hover {
    @apply text-red-700;   
}

/* Home */
.banner{
    background-image:url('../public/home-banner-img.webp');
}

.home-banner{
  min-height : 780px;
  z-index:-1;
}

.btn-ghost:hover {
background-color : #0000;
}

.section-safety{
  background: linear-gradient(to left, #767876   , #C8CBC8    );
  background-size: cover; 
  background-repeat: no-repeat; 
  min-height:200px;
}

.section-outline{
  min-height: 300px;
}

.section-how-it-works{
  min-max: 100px;
}

.section-testimonials .carousel .carousel-status {
  display: none;
}

.carousel .control-dots .dot {
  box-shadow : 1px 1px 2px rgb(185, 28, 28) !important;
  background : #B91C1C !important;
} 

.section-testimonials{
  min-height:200px;
}

/* .section-documents-required .list-disc ::marker{
  color: #B91C1C !important;
} */

.our-locations{
  min-height:450px;
}

/* .section-contact-us{
  min-height:450px;
} */

.section-carlist{
  min-height: 450px;
}

.badge-info{
  background-color: #B91C1C !important;
}
.section-carList{
  min-height: 450px;
}
.no-cars{
  color:yellow;
}

.link-hover:hover {
  @apply text-red-400;   
}

.border-newstyle-focus:focus{
  @apply border-red-700 !important;
  @apply ring-red-700 !important;
}

.radio-button:checked {
  background-color: red;
  border-color: red;
}

.height-edited{
  @apply h-60 !important;
}

.alert-success{
  @apply bg-red-50;
  @apply border-red-700;
}

.alert-warning{
  @apply bg-red-50;
  @apply border-red-700;
}

[data-theme="night"] .bg-white {
 @apply bg-slate-700;
 }

 [data-theme="night"] .text-gray-700 {
  @apply text-white;
}

[data-theme="night"] ul li {
  @apply text-white;
}
  
[data-theme="night"] .bg-slate-100 {
  @apply bg-slate-600 !important;
  @apply pt-8;
}

[data-theme="light"] .bg-testimonial {
  @apply bg-[url("/images/redquotes7.jpg")]
}

[data-theme="night"] .section-safety {
  background: linear-gradient(to left,  #4a5568 , #718096  );
}


[data-theme="light"] .section-brands {
  @apply bg-gradient-to-r from-red-700 to-white;
}

[data-theme="night"] .section-brands {
  @apply bg-gradient-to-r from-red-700 to-slate-500;
}

[data-theme="night"] h3 {
  @apply text-white;
}

[data-theme="night"] .placeholder:text-slate-600 {
  @apply text-white;
}

[data-theme="night"] .section-carList .card{
  @apply bg-slate-500;
}

[data-theme="night"] .text-gray-900{
  @apply text-white;
}

[data-theme="night"] h2{
  @apply text-white;
}

[data-theme="light"] .bg-signup{
  @apply bg-gradient-to-r from-red-500 to-white;
}

[data-theme="night"] .bg-signup{
  @apply bg-gradient-to-r from-red-900 to-slate-500;
}

[data-theme="night"] .bg-contact{
  @apply bg-slate-700;
}

[data-theme="night"] nav ul li .text-red-700{
  @apply text-red-600;
}

[data-theme="night"] .text-hover:hover{
  @apply text-red-400;
}

[data-theme="night"] .link-hover:hover{
  @apply text-red-400;
}

[data-theme="night"] .bg-car-banner {
  background-image: url('/images/dark-banner-banner.png');
  background-repeat: no-repeat; 
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image */
}

[data-theme="light"] .bg-car-banner {
  background-image: url('/images/banner-h-img.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image */
}

@media screen and (max-width: 992px) {
  .bg-car-banner {
    background-size: cover !important; /* Ensure the image covers the container */
    background-position: center !important; /* Center the image */
  }
}

[data-theme="night"] .search-input-night {
  @apply bg-slate-200;
}

input:-internal-autofill-selected {
 @apply bg-red-600;
}

